body{
    background-color: #2CBFBF;
    margin: 0;
    overflow-x: hidden;
}

/* .container{
    display: flex;
    flex-direction: column;
} */


.container .header{
    display: flex;
    flex-direction: row;
    background-color: #2CBFBF;
    justify-content: space-around;
    padding: 0;
    margin-top: 10px;
}

.clouds-1{
    width: 100px; 
    height: 50px;
    margin-top: 70px;
    margin-left: 0
}

.clouds-2{
    width: 100px; 
    height: 50px;
    margin-top: 120px;
}

.logo{
    width: 200px; 
    height: 200px;
}
.title-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.clouds-anim{
    animation: cloudsMoving 30s;
    animation-delay: 1s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes cloudsMoving {
    0% {transform: translateX(0px);}
    25% {transform: translateX(35px);}
    75% {transform: translateX(-70px);}
    100% {transform: translateX(0px);}
}




.back{
    margin: 20px;

    width: 150px;
    height: 60px;
    border: 0.1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;

    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2F6974;
    cursor: pointer;
}

button {
    color: #2F6974 !important;
    background: white;
    border: 2px solid;
    border-color: #318aac;
  }
  button:hover {
    box-shadow: 0 10px 16px rgb(85, 148, 173);
    transition: all 0.2s ease;
    transform: scale(1.05) 
  }

  button:hover span{ 
      font-weight: bolder;
  }




.container .footer{
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    background-color: #2CBFBF;
    color: white;
    text-align: center;
}







.indications{
  font-size: 22px;
  color: white;
  /* border: 2px dotted rgb(255, 255, 255); */
  padding: 10px;
  margin: 10px 10%; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}







.center{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

  
}
.outer{
  position: relative;
  background: rgb(137, 137, 137);
}
.button{
  height: 70px;
  width: 220px;
  border-radius: 50px;
}
/* circle border ----------------------------------------------------- */
.circle{
  height: 155px;
  width: 155px;
  border-radius: 50%;
}
.outer button, .outer span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button{
  background: rgb(255, 255, 255);
  color: #000000;
  outline: none;
  border: none;
  font-size: 35px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.outer button:hover{
  font-size: 45px;
}
.button button{
  height: 60px;
  width: 210px;
  border-radius: 50px;
}
/* circle inside ----------------------------------------------------- */
.circle button{
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.outer span{
  height: 100%;
  width: 100%;
  background: inherit;
}
.circle span{
  border-radius: 50%;
}
.outer.on span:nth-child(1){
  filter: blur(7px);
}
.outer.on span:nth-child(2){
  filter: blur(14px);
}
.outer.on{
  background: rgb(61,192,232);
background: radial-gradient(circle, rgba(61,192,232,1) 0%, rgba(109,128,207,1) 37%, rgba(140,88,191,1) 69%, rgba(152,73,186,1) 100%);
  /* background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0); */
  animation: rotate 1.5s linear infinite;
}
/* .outer:hover span:nth-child(1){
  filter: blur(7px);
}
.outer:hover span:nth-child(2){
  filter: blur(14px);
}
.outer:hover{
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
} */
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px){
  .center{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer{
    margin: 10px 0;
  }
}



@media screen and (min-width: 800px) {
  .clouds-1{
    width: 150px; 
    height: 80px;
    margin-top: 70px;
    margin-left: 0
  }

  .clouds-2{
      width: 150px; 
      height: 80px;
      margin-top: 120px;
  }

  .logo{
    width: 250px; 
    height: 250px;
  } 

  .container{
    margin-right: 600px;
    margin-left: 600px;
  }
}