body{
    background-color: #2CBFBF;
    margin: 0;
    overflow-x: hidden;
}

/* .container{
    display: flex;
    flex-direction: column;
} */

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2CBFBF;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}


@keyframes fadeIn {
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}






.container .header{
    display: flex;
    flex-direction: row;
    background-color: #2CBFBF;
    justify-content: space-around;
    padding: 0;
    margin-top: 10px;
}

.clouds-1{
    width: 100px; 
    height: 50px;
    margin-top: 70px;
    margin-left: 0
}

.clouds-2{
    width: 100px; 
    height: 50px;
    margin-top: 120px;
}

.logo{
    width: 200px; 
    height: 200px;
}
.title-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 100;
}

.clouds-anim{
    animation: cloudsMoving 30s;
    animation-delay: 1s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes cloudsMoving {
    0% {transform: translateX(0px);}
    25% {transform: translateX(35px);}
    75% {transform: translateX(-70px);}
    100% {transform: translateX(0px);}
}



a{
    min-width: 100%;
}


.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 20px;
    padding-bottom: 150px;
}
.botones button{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
    margin-right: 20px;

    min-width: 100%;
    height: 70px;
    border: 0.1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;

    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2F6974;
}

button {
    color: #2F6974 !important;
    background: white;
    border: 2px solid;
    border-color: #318aac;
  }
  button:hover {
    /* background-color: #c9c9c9; */
    /* background-color: #91c4c4; */
    box-shadow: 0 10px 16px rgb(85, 148, 173);
    transition: all 0.2s ease;
    transform: scale(1.05) 
  }

  button:hover span{ 
      font-weight: bolder;
  }
























.container .footer{
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    background-color: #2CBFBF;
    color: white;
    text-align: center;
}